<div class="container main">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Gourmet Burger Logger</h1>
            <p class="lead text-center">Opportunities to Devour Exquisitely Crafted Burgers</p>
        </div>
    </div>

    <div class="container add-burger">
        <h2 class="text-center">Describe your Finely Crafted Burger</h2>
        <form class="create-form">
            <div class="form-group">
                <label for="burger">Burger Name:</label>
                {{!-- Change this to textarea --}}
                <textarea id="burger" class="form-control" name="burger_name" rows="2" cols="15"></textarea>
            </div>
            <div class="form-row text-center">
                <div class="col-12">

                    <button class="btn btn-light add" type="submit">Add Burger</button>
                </div>
            </div>
        </form>
    </div>


    <h2>Burgers Waiting to be Devoured</h2>

    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
    </ul>

    <h2>Devoured Burgers</h2>

    <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
    </ul>



</div>