<div class="container main">
{{!-- Heading area --}}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Gourmet Burger Logger</h1>
            <p class="lead text-center">Opportunities to Devour Exquisitely Crafted Burgers</p>
        </div>
    </div>

{{!-- Add Burger form --}}
    <div class="container add-burger">
        <h2 class="text-center">Describe your Exquisitely Crafted Burger</h2>
        <form class="create-form">
            <div class="form-group">
                <label for="burger">Burger Name:</label>
                <textarea id="burger" class="form-control" name="burger_name" rows="2" cols="15"></textarea>
            </div>
            <div class="form-row text-center">
                <div class="col-12">

                    <button class="btn btn-light add" type="submit">Add Burger</button>
                </div>
            </div>
        </form>
    </div>

    {{!-- Burger list area --}}
    <div id="burger-list">
        <div class="container burgers">
            <div class="row pb-4">
                <div class="col-md-6 col-sm-12">
                    <div class="col-12 burger-col m-1">

                        <h2 class="text-center burger-heading">Crafted Burgers</h2>

                        <ul class="burgers">
                            {{#each burgers}}
                            {{#unless devoured}}
                            {{> burgers/burger-block }}
                            {{/unless}}
                            {{/each}}
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="col-12 burger-col m-1">

                        <h2 class="text-center burger-heading">Devoured Burgers</h2>

                        <ul class="burgers">
                            {{#each burgers}}
                            {{#if devoured}}
                            {{> burgers/burger-block }}
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>