@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');

body {
    background-image: url(./img/burger-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

div.main {
    background-color: rgba(255,255,255,0.8);
    

}

label[for="burger"] {
    visibility: hidden;
}

div.add-burger {
    width: 60%;
    background-color: gray;
    opacity: 1;
    padding: 20px;
}

div.add-burger h2 {
    font-size: 2rem;
    font-family: "Aguafina Script", serif;
    padding-top: 20px;
}

